---
title: Na Mara Flowers
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="preconnect" href="https://images.ctfassets.net">
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
